@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    display: grid;
    /* Change the template here as you wish but please DON'T CHANGE the mentioned dimension for top bar and side bar I'm begging, crying */
    grid-template-columns: [first] calc(100vw - 15vw) [col4] 15vw [last]; 
    grid-template-rows: [start] 70px [row1] calc(100vh - 70px) [end];
}

/*TOP BAR STYLIING*/
.main-bar {
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: start;
    grid-row-end: row1;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #173753;
    position: fixed;

    width: 100vw;
    height: 70px;
}

.main-bar a {
    margin-left: 10px;
    color: #fff;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.main-bar a:hover {
    color: #f9b3d1;
}

.main-bar img {
    margin-right: 10px;
}

/*SIDE MENU*/
.side-bar {
    justify-self: right;
    grid-column-start: col4;
    grid-column-end: last;
    grid-row-start: row1;
    grid-row-end: end;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 200px;

    background-color: #D9D9D9;
    text-align: center;
}

.side-bar a {
    left: 0%;
    color: black;
    padding: 14px 16px;
    font-family: 'Pixelify Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.side-bar a:hover {
    color: #72A1E5;
}

.log_out_button {
    margin-top: auto;
}